* {
    padding: 0;
    margin: 0;
}

.container {margin: 20px;
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.grid-element {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}